Considere el siguiente reporte de rendimientos de las acciones de la compañía Alpha en los últimos cinco años.

Año 	Rendimiento
1 	-7%
2 	4%
3 	10%
4 	-8%
5 	15%

¿Cuál es el rendimiento medio geométrico?

In [19]:
import pandas as pd

In [20]:
ret = pd.DataFrame({'r': [-0.07, 0.04, 0.1, -0.08, 0.15]})
ret

      r
0 -0.07
1  0.04
2  0.10
3 -0.08
4  0.15

In [21]:
(1 + ret['r']).prod()**0.2 - 1

0.02395041921708474

In [22]:
ret.mean()

r    0.028
dtype: float64

In [29]:
help(ret.std)

Help on method std in module pandas.core.frame:

std(axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs) method of pandas.core.frame.DataFrame instance
    Return sample standard deviation over requested axis.

    Normalized by N-1 by default. This can be changed using the ddof argument

    Parameters
    ----------
    axis : {index (0), columns (1)}
    skipna : bool, default True
        Exclude NA/null values. If an entire row/column is NA, the result
        will be NA.
    level : int or level name, default None
        If the axis is a MultiIndex (hierarchical), count along a
        particular level, collapsing into a Series.
    ddof : int, default 1
        Delta Degrees of Freedom. The divisor used in calculations is N - ddof,
        where N represents the number of elements.
    numeric_only : bool, default None
        Include only float, int, boolean columns. If None, will attempt to use
        everything, then use only numeric data. Not implemented for Series.

    Returns
    -------
    Series or DataFrame (if level specified)

In [33]:
ret.std()

r    0.101833
dtype: float64

In [24]:
Er = ret.mean().values[0]

In [32]:
sr = (((ret['r'] - Er)**2).sum() / 5)**0.5
sr

0.0910823802938856

Considere el siguiente reporte de rendimientos de cierta acción en los últimos tres años
Año 	Rendimiento
1 	-10%
2 	15%
3 	35%

¿Cuál es el rendimiento medio geométrico?

In [12]:
ret2 = pd.DataFrame({'r': [-0.1, 0.15, 0.35]})
ret2

      r
0 -0.10
1  0.15
2  0.35

In [13]:
(1 + ret2['r']).prod()**(1/3) - 1

0.11795598705812527

In [14]:
ret2['r'].mean()

0.13333333333333333

Con base en la siguiente distribución de rendimientos para el activo A,
Probabilidad 	Rendimiento
30% 	15%
40% 	8%
30% 	-7%

¿Cuál es su desviación estándar?

In [15]:
ret3 = pd.DataFrame({'r': [0.15, 0.08, -0.07], 'p': [0.3, 0.4, 0.3]})
ret3

      r    p
0  0.15  0.3
1  0.08  0.4
2 -0.07  0.3

In [16]:
Er = (ret3['p'] * ret3['r']).sum()
Er

0.055999999999999994

In [17]:
sr = (ret3['p'] * (ret3['r'] - Er)**2).sum()**0.5
sr

0.08742997197757757